<div>
      <form action="/add" method="POST">
            <p>Enter Registration Number:</p>
            {{!-- <p class="eg">Eg: CA 1233, CF 4547, CL 3854</p> --}}

            <label for="reg">
                  <input type="text" name="regNum" id="">
            </label>
            <p class="error">{{errorMsg}}</p>
            <button type="submit">Add</button>

               <script>
                setTimeout(function () {
                    document.querySelector(".error").remove();
                }, 3000)
            </script>

            <label for="towns">Town:</label>

            <select name="townCode" id="towns">
                  <option value=""></option>
                  <option value="CA">Cape Town</option>
                  <option value="CJ">Paarl</option>
                  <option value="CF">Kuilsriver</option>
                  <option value="CL">Stellenbosch</option>
            </select>
            <button type="submit" formaction="/filter">Show</button>
            <button type="submit" formaction="/reset">Reset</button>
      </form>

      <div class="regDisplay">
            {{#each regNums}}
            <div class="regNumber">{{reg_number}}</div>
            {{/each}}
      </div>
</div>