<div>  
      <form action="" method="POST">
        <p>Registration Number:</p>
        <label for="reg">
            <input type="text">
        </label>
        <button type="submit">Add</button>
         <p class="regDisplay"></p>
            <p class="error"></p>

      </form>
</div>