<div>
      <form action="/add" method="POST">
            <p>Enter Registration Number:</p>
            {{!-- <p class="eg">Eg: CA 1233, CF 4547, CL 3854</p> --}}
            <p class="error">{{errorMsg}}</p>
            <script>
                  setTimeout(function () {
                        document.querySelector(".error").remove();
                  }, 3000)
            </script>


            <label for="reg">
                  <input type="text" name="regNum">
            </label>


            <button type="submit">Add</button>

            <label for="towns">Town:</label>

            <select name="townCode" id="towns">
                  <option value=""></option>
                  <option value="CA">Cape Town</option>
                  <option value="CL">Paarl</option>
                  <option value="CF">Kuilsriver</option>
                  <option value="CJ">Stellenbosch</option>
            </select>

            <button type="submit" formaction="/filter">Show</button>
            <button type="submit" formaction="/reset">Reset</button>

            <div class="regDisplay">
                  {{#each filteredRegs}}
                  <div class="regNumber">{{this.reg_number}}</div>
                  {{/each}}
            </div>
      </form>


</div>