body {
  background-size: cover;
  text-align: center;
  color: black;
  font-size: xx-large;
  font-weight: bold;
  text-shadow: 0.125rem 0.125rem 0.125rem white;
  background-image: url("../images/car.jpg");


}


input,
select {
  width: 260px;
  height: 40px;
  border-width: 2px;
  border-radius: 8px;
  border-color: black;
  text-align: center;
  padding: 0;
  outline: 0;


}

input::placeholder, select {
  font: 1.25rem/3 sans-serif;
}


.regEg {
  text-align: center;
  color: black;
  text-shadow: 0.125rem 0.125rem 0.125rem white;
  font-weight: normal;
}


.error {
  color: red;
}


.regDisplay {
  padding-top: 30px;
  display: grid;
  grid-template-columns:repeat(4, 20%);
  grid-template-rows: 1fr ;
  gap: 10px;
  width: 100vw;
 justify-content: center;
 justify-content: space-between;
 grid-row-gap: 40px;
 
}


.regNumber {
  background: silver;
  border-radius: 10px;
  border-color: black;
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 0 auto;
}

button {
  background-color: rgb(251, 163, 85);
  border-radius: 20px;
  border-color: red;
  color: black;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  line-height: 5px;
  width: 135px;
  font-size: 16px;
  text-align: center;

}


@media (max-width:970px) {
  body {
    flex-direction: column;
    text-align: center;
    line-height: 40px;
    width: fit-content;
    display: inline-block;

  }

  .regNumber {
    flex-direction: column;
    text-align: center;
    line-height: 40px;
    width: fit-content;
    display: flex;
  }

  .regDisplay {
    flex-direction: column;
    display: flex;
    line-height: 40px;
  }

}