body {
  background-size: cover;
  text-align: center;
  color: black;
  font-size: xx-large;
  font-weight: bold;
  text-shadow: 0.125rem 0.125rem 0.125rem white;
  /* margin: 0; */
  background-image: url("car.jpg")
}

/* #regInput {
  margin: 10px;
  width: 100px;
  height: 70px;

} */
input{
  margin: 10px;
  width: 200px;
  height: 40px;
  border-radius: 8px;
 border-color: black;

}

.regEg {
  text-align: center;
  color: black;
  text-shadow: 0.125rem 0.125rem 0.125rem white;
  font-weight: normal;
}


.error {
  color: red;
}

.error {
  color: green;
}


.regDisplay {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 3fr;
  gap: 10px;
}


.regNumber {
  background: silver;
  height: 50px;
  width: 150px;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;

  /* background-color: #555; */
}

button {
  background-color: rgb(251, 163, 85);
  border-radius: 20px;
  border-color: red;
  color: black;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  line-height: 5px;
  height: 40px;
   width: fit-content;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}

